@import '../../../styles/vars.css';

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 6rem;
}

.title {
  font-size: 1.1875rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

[data-theme='dark'] .title {
  color: var(--color-text-dark);
}

.description {
  font-size: 2.5rem;

  @media $wideTablet {
    font-size: 5.875rem;
  }
}

[data-theme='dark'] .description {
  color: var(--color-gray-300);
}

.description p + p {
  margin-top: 0.5rem;
}

.description h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 30px;

  @media $wideTablet {
    font-size: 5.875rem;
  }
}

.description h3 {
  font-size: 1.5rem;
  font-weight: 400;

  @media $wideTablet {
    font-size: 2rem;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media $tablet {
    max-width: 640px;
  }

  @media $wideTablet {
    max-width: 768px;
  }

  @media $desktop {
    max-width: 1024px;
  }

  @media $wideDesktop {
    max-width: 1280px;
  }
}
