.hero {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.75rem;
  }
}

[data-theme='dark'] .title {
  color: var(--color-text-dark);
}

.description {
  font-size: 1.25rem;
  color: var(--color-gray-600);
}

@media (min-width: 768px) {
  .description {
    font-size: 1.5rem;
  }
}

[data-theme='dark'] .description {
  color: var(--color-gray-300);
}

.description p + p {
  margin-top: 0.5rem;
}
