@import '../../styles/vars.css';

.layoutWrapper {
  min-height: 100vh;

  color: var(--color-text);
  background-color: var(--color-background);
}

.main {
  padding-top: 4rem;
}

.mainContent {
  padding: 2rem 0;
}
