@import '../../styles/vars.css';

.subBlock {
  margin: 0;
}

.subBlock h3 {
  margin-bottom: 10px;
}

.subBlock ul {
  margin: 15px 0;
  margin-left: 15px;
}

.subBlock.aboutPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
}

.subBlock.aboutPage:nth-child(1) {
  background: var(--color-background-block-about-1);
}

.subBlock.aboutPage:nth-child(2) {
  background: var(--color-background-block-about-2);
}

.subBlock.aboutPage:nth-child(3) {
  background: var(--color-background-block-about-3);
}

.subBlock.aboutPage:nth-child(4) {
  background: var(--color-background-block-about-4);
}

.subBlock.aboutPage:nth-child(5) {
  background: var(--color-background-block-about-5);
}

.subBlock.aboutPage:nth-child(6) {
  background: var(--color-background-block-about-6);
}

.subBlock.aboutPage .title {
  font-size: 1.1875rem;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.subBlock.aboutPage .description {
  font-size: 1rem;

  @media $wideTablet {
    font-size: 1.5rem;
  }
}

[data-theme='dark'] .subBlock.aboutPage .description {
  color: var(--color-gray-300);
}

.subBlock.aboutPage .description p + p {
  margin-top: 0.5rem;
}

.subBlock.aboutPage .description h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 30px;

  @media $wideTablet {
    font-size: 5.875rem;
  }
}

.subBlock.aboutPage .description h3 {
  font-size: 1rem;
  font-weight: 400;

  @media $wideTablet {
    font-size: 1.5rem;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media $tablet {
    max-width: 640px;
  }

  @media $wideTablet {
    max-width: 768px;
  }

  @media $desktop {
    max-width: 1024px;
  }

  @media $wideDesktop {
    max-width: 1280px;
  }
}

.link {
  position: relative;
  color: var(--color-primary);
  text-decoration: none;
  transition:
    color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 100%;
  background-color: var(--color-primary);
}

.link:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}
