@import '../../styles/vars.css';

.burgerButton {
  display: flex;
  z-index: 10;

  flex-direction: column;
  justify-content: space-around;

  width: 2rem;
  height: 2rem;
  padding: 0;

  cursor: pointer;

  border: none;
  background: transparent;

  @media $wideTablet {
    display: none;
  }
}

.burgerButton:focus {
  outline: none;
}

.burgerButton div {
  position: relative;

  width: 2rem;
  height: 0.25rem;

  transition: all 0.3s linear;
  transform-origin: 1px;

  border-radius: 10px;
  background: var(--color-text);
}

.burgerButton[data-open='true'] div:first-of-type {
  transform: rotate(45deg);
}

.burgerButton[data-open='false'] div:first-of-type {
  transform: rotate(0);
}

.burgerButton[data-open='true'] div:nth-of-type(2) {
  transform: translateX(20px);

  opacity: 0;
}

.burgerButton[data-open='false'] div:nth-of-type(2) {
  transform: translateX(0);

  opacity: 1;
}

.burgerButton[data-open='true'] div:nth-of-type(3) {
  transform: rotate(-45deg);
}

.burgerButton[data-open='false'] div:nth-of-type(3) {
  transform: rotate(0);
}

.menuOverlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 5rem 2rem;

  background: var(--color-background);

  @media $wideTablet {
    display: none;
  }
}

.menuItem {
  margin: 1rem 0;

  color: var(--color-text);

  font-size: 1.5rem;
}

.menuItem a {
  text-decoration: none;

  color: inherit;
}

.menuItem a:hover {
  color: var(--color-primary);
}

.languageControls {
  display: flex;

  margin-top: 2rem;

  gap: 1rem;
}

.languageButton {
  position: relative;
  color: var(--color-text);
  background: transparent;
  border: none;
  padding: 4px 16px;
  cursor: pointer;
}

.languageButton::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 4px;
  width: 0;
  background-color: transparent;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;
}

.languageButton:hover::after {
  width: 100%;
  background-color: #ccc;
}

.languageButton.active::after {
  width: 100%;
  background-color: var(--color-primary);
}
